@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Merriweather:ital@0;1&display=swap');

html,
body {
  height: 100%;
}

body {
  background-color: rgb(5, 5, 5);
  background: rgb(5, 5, 5) url('./assets/background_nebula.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Merriweather', serif;
}

/* body, #root, .app, and .footer configured to use Flexbox to implement sticky footer */
/* Using: https://medium.com/@stefanmaretic/react-sticky-footer-f842d5fbd68 */
/* https://codesandbox.io/s/l2v2k0q7rq?from-embed=&file=/src/index.js */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.app {
  flex: 1 0 auto;
  padding: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.menu-page {
  text-align: center;
  color: white;
}

.menu-title {
  font-size: 3.2rem;
  padding: 10rem 0 1.5rem 0;
  color: white;
}

h4.menu-tagline {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 1.1rem;
  margin: 1rem;
  color: white;
}

.menu-info {
  font-style: italic;
  color: white;
  font-size: 1.05rem;
  max-width: 300px;
  text-align: left;
  margin-bottom: 2.5rem;
}

.menu-list a {
  color: cyan;  
}

.menu-list a:hover {
  color: #80EEFD;  
}

.menu-list h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: white;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 2rem;
  color: white;
}

.footer-logo {
  max-width: 50px;
  margin: .5rem;
  color: white;
}

.loading {
  text-align: center;
  margin: 12rem 0;
  color: white;
}

.navbar a {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: #B4B4B4;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.game-nav-container {
  padding: 0;
  color: white;
}

.game-text-container {
  margin-top: 3rem;
  max-width: 800px;
  color: white;
}

.game-choices-list {
  margin-top: 2.5rem;
  color: white;
}

.game-choices-info {
  font-weight: 700;
  color: violet;
}

.color-choice {
  color: #FFFFFF;
}

.color-choice:hover {
  color: #80EEFD;
}

.fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}